{% extends "base.html" %}


{% block content %}
     <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">SOMETHING UNEXPECTED OCCURED</h2>
                    <p>CONTACT THIS EMAIL TO GET PROBLEM RESOLVED: <span><small>eugeneemma7@gmail.com</small></span></p>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('index')}}">Get back to home</a>
                </div>
            </div>
        </section>
{% endblock content %}